@font-face {
    font-family: 'RotondaBold';
    src: url("../fonts/RotondaBold.ttf") format("truetype"),
         url("../fonts/RotondaBold.woff") format("woff"),
         url("../fonts/RotondaBold.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

.stroke-text {
	text-shadow: 
		-0   -3px 2px #FFFFFF,
		 0   -3px 2px #FFFFFF,
		-0    3px 2px #FFFFFF,
		 0    3px 2px #FFFFFF,
		-3px -0   2px #FFFFFF,
		 3px -0   2px #FFFFFF,
		-3px  0   2px #FFFFFF,
		 3px  0   2px #FFFFFF,
		-1px -3px 2px #FFFFFF,
		 1px -3px 2px #FFFFFF,
		-1px  3px 2px #FFFFFF,
		 1px  3px 2px #FFFFFF,
		-3px -1px 2px #FFFFFF,
		 3px -1px 2px #FFFFFF,
		-3px  1px 2px #FFFFFF,
		 3px  1px 2px #FFFFFF,
		-2px -3px 2px #FFFFFF,
		 2px -3px 2px #FFFFFF,
		-2px  3px 2px #FFFFFF,
		 2px  3px 2px #FFFFFF,
		-3px -2px 2px #FFFFFF,
		 3px -2px 2px #FFFFFF,
		-3px  2px 2px #FFFFFF,
		 3px  2px 2px #FFFFFF,
		-3px -3px 2px #FFFFFF,
		 3px -3px 2px #FFFFFF,
		-3px  3px 2px #FFFFFF,
		 3px  3px 2px #FFFFFF,
		-3px -3px 2px #FFFFFF,
		 3px -3px 2px #FFFFFF,
		-3px  3px 2px #FFFFFF,
		 3px  3px 2px #FFFFFF;
}

:root {
    --back-color: rgb(251, 243, 235);
    --hover-color: rgb(214, 237, 244);
    --lightblue-color: rgb(239, 245, 248);
    --skyblue-color: rgb(202, 229, 238);
    --blue-color: rgb(175, 206, 222);
    --darkblue-color: rgb(45, 93, 126);
}

/*MAIN*/
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

html { background-color: var(--blue-color); }

body { overflow-x: hidden; }

.wrapper {
    background-color: var(--back-color);
    min-height: 100%;
    overflow-x: hidden;
}

/*TEXT*/
.caption { margin-left: 35px; }

.re-caption { margin-right: 35px; }

.text { font-family: 'RotondaBold'; }

.text-main { padding-left: 16px; }

.text-blue {
    color: var(--blue-color);
    font-weight: 500;
}

.text-darkblue {
    color: var(--darkblue-color);
    font-weight: 500;
}

/*BUTTONS*/
.button {
    font-family: 'RotondaBold';
    font-size: 1.14em;
    word-spacing: 2px;
    outline: none !important;
    border: none;
    padding: 5px 20px 5px 20px;
    margin: 10px 0 10px 0;
}

.button-small {
    outline: none !important;
    border: none;
    padding: 5px 20px 5px 20px;
    margin: 10px 0 10px 0;
}

.button-small:active { color: initial; }

.button-mini {
    position: relative;
    outline: none !important;
    border: none;
    padding: 4px 10px 4px 10px;
    margin: 10px 0 10px 0;
    display: inline-block;
}

.button-mini:active { color: initial; }

.button-circle {
    outline: none !important;
    width: 35px;
    height: 35px;
    padding: 0;
}

.button-circle:active { color: initial; }

.button-mini:active { color: initial; }

.button-lightblue { background-color: var(--lightblue-color); }

.button-skyblue { background-color: var(--skyblue-color); }

.button-blue { background-color: var(--blue-color); }

.button-white { background-color: white; }

.rounded-4 { border-radius: 25px; }

.rounded-2 {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* HEADER */
header {
    background: url(../images/background.png) repeat-x;
    background-size: auto;
}

header .row { padding-top: 25px; }

.logo {
    display: inline-block;
    padding: 20px 0 20px 0;
}

#callback::after {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -10px;
    right: -10px;
    background: url(../images/phone.png) no-repeat center;
    background-size: contain;
}

#worktime::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: 5px;
    background: url(../images/clock.png) no-repeat center;
    background-size: contain;
}

.input-group {
    position: relative;
    width: 280px !important;
}

.input-box {
    width: 300px;
    border-radius: 20px;
    outline: none;
    padding: 5px 40px 5px 20px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
       -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
            box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}

#search-button {
    background: url(../images/zoom.png) no-repeat center;
    background-size: 100%;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 3px;
    top: 5px;
}

#about::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: 5px;
    background: url(../images/icon_1.png) no-repeat center;
    background-size: contain;
}

#delivery::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: 5px;
    background: url(../images/icon_2.png) no-repeat center;
    background-size: contain;
}

.tagline { display: block; }

.tagline > h4, h5 { margin: 0; }

.tagline-text {
    text-align: center;
    color: rgb(60, 122, 152);
}

/*CONTENT HEADER*/
/*NAVBAR*/
.nav-item { position: relative; }

.nav-item:not(:last-child)::after {
    content: '>>';
    position: absolute;
    top: 30%;
    right: -5px;
    font-size: 0.7em;
    color: var(--darkblue-color);
}

.nav-item a { color: var(--darkblue-color); }

.nav-item a:hover {
    color: --blue-color;
    text-decoration: underline;
}

/*SORT SETTINGS*/
.sort-settings {
    background: url(../images/box_wide.png) no-repeat center;
    background-size: 100% 100%;
    overflow-x: auto;
    padding: 20px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
}

.sort-options { margin-left: 40px !important; }

.sort-option {
    background: transparent;
    border: none;
    outline: none !important;
    white-space: nowrap;
    padding: 10px;
}

.sort-option:active { color: initial; }

.sort-option:hover { background-color: var(--hover-color); }

/*CONTENT*/
.container { padding-bottom: 200px; }

/*CATEGORIES*/
.categories { margin: 80px 0 20px 0; }

.media {
    margin-bottom: 20px;
    flex-direction: column;
}

.category-header {
    width: 100%;
    display: flex;
    align-items: center;
}

.category-title {
    font-family: 'RotondaBold';
    color: var(--darkblue-color);
}

.category-items {
    padding: 0;
    margin: 10px 0 0 0;
    list-style: none;
}

.category-items a { color: black; }

.category-items a:hover { color: black; }

.category-item-title {
    text-transform: uppercase;
    font-weight: 500;
}

.category-item-title:not(:first-child) { margin-top: 20px; }

.banner {
    margin-top: 50px;
}

/*PRODUCTS LIST*/
/*PRODUCT CARD*/
.product-card { margin-top: 20px; }

.product-card h6 { margin-bottom: 10px; }

.product-img { width: 90%; }

.product-card .card {
    border: none;
    background: url(../images/box_card.png) no-repeat center;
    background-size: 100% 100%;
    padding: 30px 20px 30px 20px;
}

.properties {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 95%;
}

.prop-item {
    display: flex;
    justify-content: space-between;
}

.prop-item:not(:last-child) { border-bottom: 1px solid rgba(0,0,0,0.1); }

.prop-item span:first-child {
    display: inline-block;
    width: 65%;
}

.prop-item span:last-child {
    display: inline-block;
    width: 35%;
}

.add-to-basket {
    background: linear-gradient(#fde800, #f8c700);
    border: 2px dashed #f8c504;
    color: #3b3a39;
    position: relative;
}

.add-to-basket::before {
    content: '';
    display: block;
    width: 25px;
    height: 20px;
    background: url(../images/basket.png) no-repeat center;
    background-size: contain;
    position: absolute;
    top: 10px;
}

.product-price > div { margin-bottom: 10px; }

.product-order { padding: 10px 0 10px 0; }

.status {
    color: #aec905;
    font-family: 'RotondaBold';
    position: relative;
}

.status-ok::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/status_ok.png) no-repeat center;
    position: absolute;
    top: -2px;
}

.status-wait::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url(../images/status_wait.png) no-repeat center;
    position: absolute;
    top: -2px;
}

.fake-price { text-decoration-line: line-through; }

.new-price {
    background: linear-gradient(#b3dff6, #77c6f0);
    color: white;
    position: relative;
    border: 2px dashed #259ad9;
    display: inline-block;
}

/*PAGINATOR*/
.paginator {
    background: url(../images/box_wide.png) no-repeat center;
    background-size: 100% 100%;
    padding: 20px;
    padding-bottom: 30px;
    margin-top: 40px;
}

.pages {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pages li {
    display: inline-block;
    margin-right: 5px;
}

.pages li button { padding: 5px 13px 5px 13px; }

.separator { width: 20px; }

/*SIDEBAR*/
.sidebar { margin: 30px 0 80px 0; }

.sidebar > div { margin-bottom: 30px; }

/*RECYCLE-BIN*/
.recycle-bin {
    background: url(../images/oblako.png) no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: center;
    padding: 40px 30px 20px 0;
    align-items: center;
}

.rb-wrapper * {
    display: block;
    margin-bottom: 5px;
}

.rb-wrapper h6 { font-family: 'RotondaBold'; }

#issue-btn {
    margin: 10px 0 5px 0;
    border-radius: 30px;
}

#issue-btn-text {
    font-family: 'RotondaBold';
    margin: 0;
}

/*BRANDS*/
.brands {
    display: flex;
    justify-content: flex-end;
}

.b-wrapper {
    background: url(../images/box2.png) no-repeat center;
    background-size: 100% 100%;
    width: 80%;
    margin: auto;
    padding: 40px 20px 60px 20px;
}

/*DELIVERY*/
.delivery img {
    display: block;
    margin: auto;
    width: 80%;
}

/*NEWS*/
.news {
    background: url(../images/box3.png) no-repeat center;
    width: 80%;
    margin: auto;
    background-size: 100% 100%;
    padding: 30px;
    padding-bottom: 60px;
}

.date {
    background: rgb(144, 193, 232);
    color: white;
    font-family: 'RotondaBold';
    padding: 6px 10px 6px 10px;
    width: 120px;
    position: relative;
}

.date::after {
    content: '';
    display: block;
    width: 20px;
    height: 40px;
    background: white;
    position: absolute;
    top: 0;
    right: -5px;
    transform: rotate(15deg);
}

.news-card-title {
    text-decoration: underline;
    color: --blue-color;
    margin-top: 10px;
    display: block;
}

.more {
    text-decoration: underline !important;
    color: initial;
}

/*FILTERS*/
/*PRICE*/
.filters {
    background: url(../images/box.png) no-repeat center;
    background-size: 100% 100%;
    padding: 30px;
    padding-top: 50px;
    height: 250px;
}

.filter-input {
    width: 80px;
    margin: 10px 0 10px 0;
}

#slider {
    width: 100%;
    margin: 20px 0 10px 0;
}

.ui-slider-range { background: linear-gradient(#e7c974, #b98503) !important; }

/*TYPE*/
.filter-block {
    background: url(../images/box5.png) no-repeat center;
    background-size: 100% 100%;
    padding: 40px 30px 50px 30px
}

.filter-block label {
    display: flex;
    align-items: center;
}

.filter-block label input { margin-right: 10px; }

/*SPECS*/
.toggle {
    background: url(../images/buttons.png) no-repeat center;
    background-position: bottom left;
    background-size: cover;
    width: 15px;
    height: 15px;
    outline: none;
    border: none;
}

.collapsed { background-position: top left; }

.collapsed-box {
    height: 0;
    overflow: hidden;
    opacity: 0;
    background: var(--back-color);
    list-style: none;
    padding: 10px 30px 10px 30px;
    margin: 0;
    border-radius: 5px;
}

.collapsed-box li { text-decoration: underline; }

/*SIDEBAR BANNER*/
.sidebar-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(../images/box.png) no-repeat center;
    background-size: 100% 100%;
    text-align: right;
    padding: 30px 50px 50px 30px;
    line-height: initial !important;
}

/*ORDER*/
.order-box {
    background: url(../images/order_back.png) no-repeat center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 1050px;
    margin: auto;
}

.order-wrapper {
    width: 60%;
    height: 65%;
    margin-bottom: 120px;
    overflow-y: auto;
}

.order-box h1 { text-align: center; }

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form input { width: 80%; }

.order { margin: 20px 0 20px 0; }

.order-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.order-item {
    background: url(../images/product_box.png) no-repeat center;
    background-size: 95% 100%;
    padding: 20px 30px 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.order-item span:first-child { width: 50%; }

.remove-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../images/remove.png) no-repeat center;
    background-size: 20px;
}

.remove-btn:hover { cursor: pointer; }

.order-btn {
    background: linear-gradient(#fde800, #f8c700);
    border: 2px dashed #f8c504;
    padding-left: 30px;
    padding-right: 30px;
}

.order-btn .caption { margin: 0; }

.order-info ul {
    padding: 0;
    list-style: none;
}

.order-info ul li::before {
    content: '·';
    margin-right: 5px;
    margin-left: -10px;
}

input[type=radio] { display: none; }

.form-caption {
    position: relative;
    padding-left: 30px;
    font-size: 1.2em;
}

.form-caption::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    border-radius: 100px;
    background: url(../images/radio.png) no-repeat center,
                white;
    background-size: cover;
    background-position: bottom left;
}

.form-label input[type=radio]:checked + .form-caption::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    border-radius: 100px;
    background: url(../images/radio.png) no-repeat center,
                white;
    background-size: cover;
    background-position: top left;
}

.form-label:hover { cursor: pointer; }

/*FOOTER*/
footer {
    background: url(../images/footer_back.png) repeat-x 100% 100%;
    height: 200px;
    margin-top: -200px;
    position: relative;
}

footer .row {
    width: 100%;
    margin: 0;
}

#phone-number { height: 70px; }

#social-buttons { height: 60px; }

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../images/social.png) no-repeat;
}

#twitter { background-position: left top; }

#vk { background-position: -30px top; }

#fb { background-position: -60px top;}

#pen { background-position: -90px top; }

#rss { background-position: -120px top; }

#mail { background-position: -150px top; }

#ok { background-position: -180px top; }

.phone-number {
    font-family: 'RotondaBold';
    font-size: 2em;
    position: relative;
    padding-left: 40px;
}

.phone-number-stroke {
    font-family: 'RotondaBold';
    font-size: 2em;
    position: relative;
}

.phone-number::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 0;
    background: url(../images/phone_2.png) no-repeat center;
    background-size: contain;
}

#phone-icon {
    display: block;
    width: 40px;
    height: 40px;
    transform: translateY(5px);
    background: url(../images/phone_3.png) no-repeat center;
    background-size: contain;
}

#sky-num { color: rgb(74, 140, 191); }

#blue-num { color: rgb(6, 70, 95); }

#skyblue-num { color: var(--darkblue-color); }